node_modules
.angular
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/dist/
/build/
/out-tsc/

.angular/cache/
.angular/
.idea/

/.vscode/
*.tmp
*.temp

/.idea/
/.vscode/
*.log

package-lock.json
yarn.lock
