.create-achievement-container {
  min-width: 450px;
  margin: 0 auto;
  padding: 20px 30px;
  text-align: left;
}

div.dps-a-input {
  margin-bottom: 20px;
}

//dps-textarea, dps-radio, dps-datepicker 